In [ ]:
!pip install pandas matplotlib seaborn google-cloud-bigquery

### Jupyter Notebook Content

Let's proceed with the notebook content, broken down into cells with explanations:

# Cell 1: Import Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery

# Initialize BigQuery client
client = bigquery.Client()

# Cell 2: Define and Execute the Query

In [ ]:
query = """
SELECT
    CAST(trip_seconds AS FLOAT64) AS TripSeconds,
    CAST(trip_miles AS FLOAT64) AS TripMiles,
    CAST(pickup_community_area AS FLOAT64) AS PickupCommunityArea,
    CAST(dropoff_community_area AS FLOAT64) AS DropoffCommunityArea,
    CAST(trip_start_timestamp AS STRING) AS TripStartTimestamp,
    CAST(trip_end_timestamp AS STRING) AS TripEndTimestamp,
    CAST(payment_type AS STRING) AS PaymentType,
    CAST(company AS STRING) AS Company,
    CAST(fare AS FLOAT64) AS Fare
FROM
    `bigquery-public-data.chicago_taxi_trips.taxi_trips`
LIMIT 100000
"""

# Execute the query and load the results into a DataFrame
df = client.query(query).to_dataframe()

# Display a few rows of the dataframe to ensure data is loaded
df.head()

# Cell 3: Basic Statistics and Missing Values Analysis

In [ ]:
# Display basic statistics
df.describe()

# Cell 4: Missing Values Analysis

In [ ]:
missing_values = df.isnull().sum()
zero_values = (df == 0).sum()

print("Missing values in each column:\n", missing_values)
print("\nZero values in each column:\n", zero_values)

# Cell 5: Visualizations - Numerical Features

In [ ]:
# Visualization of numerical features distributions
numerical_features = ['TripSeconds', 'TripMiles', 'Fare']

for feature in numerical_features:
    plt.figure(figsize=(10, 6))
    sns.histplot(df[feature], bins=50, kde=True)
    plt.title(f'Distribution of {feature}')
    plt.xlabel(feature)
    plt.ylabel('Frequency')
    plt.show()

# Cell 6: Visualizations - Categorical Features

In [ ]:
# Visualization of categorical features count
categorical_features = ['PaymentType', 'Company']

for feature in categorical_features:
    plt.figure(figsize=(10, 6))
    sns.countplot(y=df[feature], order=df[feature].value_counts().index)
    plt.title(f'Count of {feature}')
    plt.xlabel('Count')
    plt.ylabel(feature)
    plt.show()

# Cell 7: Scatter Plots for Exploring Relationships

In [ ]:
# Scatter plot to explore the relationship between TripMiles and Fare
plt.figure(figsize=(10, 6))
sns.scatterplot(x='TripMiles', y='Fare', data=df)
plt.title('Fare vs TripMiles')
plt.xlabel('TripMiles')
plt.ylabel('Fare')
plt.show()

# Scatter plot to explore the relationship between TripSeconds and Fare
plt.figure(figsize=(10, 6))
sns.scatterplot(x='TripSeconds', y='Fare', data=df)
plt.title('Fare vs TripSeconds')
plt.xlabel('TripSeconds')
plt.ylabel('Fare')
plt.show()

# Cell 8: Box Plot for Detecting Outliers

In [ ]:
# Box plot to detect outliers in Fare
plt.figure(figsize=(10, 6))
sns.boxplot(x='Fare', data=df)
plt.title('Box plot of Fare')
plt.xlabel('Fare')
plt.show()

### Explanations

- **Cell 1**: Imports the necessary libraries and initializes the BigQuery client.
- **Cell 2**: Defines the SQL query to extract the relevant data from the BigQuery dataset. It then executes the query and loads the results into a pandas DataFrame. Finally, it displays the first few rows to confirm that the data was loaded correctly.
- **Cell 3**: Displays basic statistics of the dataset using `df.describe()`.
- **Cell 4**: Analyzes the missing values in each column and prints the results.
- **Cell 5**: Creates histograms for the numerical features (`TripSeconds`, `TripMiles`, `Fare`) using seaborn for visualization.
- **Cell 6**: Visualizes the count of categorical features (`PaymentType`, `Company`) using count plots.
- **Cell 7**: Creates scatter plots to explore the relationships between `TripMiles` and `Fare`, and `TripSeconds` and `Fare`.
- **Cell 8**: Generates box plots to detect outliers within the `Fare` variable.

With this notebook, you will have a comprehensive analysis of the taxi trips data from BigQuery, including basic statistics, missing values analysis, and various visualizations to understand the data distribution and relationships.